@page "/soma"
<h3>SomaDeValores</h3>
<div class="container">
    <!-- Content here -->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">VALOR 1:</label>
        <input type="number" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">VALOR 2:</label>
        <input type="number" class="form-control" id="exampleFormControlInput2">
    </div>

    <button type="button" class="btn btn-success">CALCULAR</button>
    <button type="button" class="btn btn-primary">NOVO CÁLCULO</button
    
    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">RESULTADO:</label>
        <input type="number" class="form-control" id="exampleFormControlInput1">
    </div>
</div>

@code {

}
